<ion-header>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button>
                    <ion-menu-button>
                        <ion-icon id="icon-options" name="menu"></ion-icon>
                    </ion-menu-button>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/home']">
                    <ion-icon name="home"></ion-icon>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/sell']">
                    <ion-icon name="cash"></ion-icon>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/buy']">
                    <ion-icon name="cart"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%; background-color: #253e12; padding: 0;">
        <ion-row class="ion-justify-content-center" style="background-color: white; padding-top: 1rem;">
            <img src="{{user?.photo ? user?.photo : 'assets/icon/user.png'}}" style="width: 100%; padding: 0rem 6rem; border-radius: 50%;">
            <h2 style="width: 100%;text-align: center;">{{user?.name}} {{user?.surname}}</h2>
            <p style="width: 100%;text-align: center;" class="ion-no-margin ion-margin-bottom">{{user?.email}}</p>
        </ion-row>
        <ion-row class="ion-text-center" style="background-color: #417623; color: white;">
            <ion-col>
                <h3 style="margin-top: 0;">125kg</h3>
                <p style="margin: 0;">ARRECADADO</p>
            </ion-col>
            <ion-col>
                <h3 style="margin-top: 0;">20i</h3>
                <p style="margin: 0;">COMPRADOS</p>
            </ion-col>
            <ion-col>
                <h3 style="margin-top: 0;">99K</h3>
                <p style="margin: 0;">MOEDAS</p>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center">
            <ion-button color="success" class="ion-margin" style="width: 80%;">Mudar informações do perfil</ion-button>
        </ion-row> -->
        <ion-row class="ion-justify-content-center ion-padding-vertical" style="background-color: #253e12; color: white;">
            <ion-accordion-group style="width: 80%;">
                <ion-accordion style="border-radius: 10px 10px 0px 0px;">
                    <ion-item slot="header">
                        <ion-label>Total já arrecadado: 125kg</ion-label>
                    </ion-item>
                    <ion-list slot="content">
                        <ion-item>
                            <p class="ion-no-margin"><b>Alumínio: </b>50kg</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>Papel: </b>30kg</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>Plástico: </b>30kg</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>Vidro: </b>10kg</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>Outros: </b>5kg</p>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
                <ion-accordion>
                    <ion-item slot="header">
                        <ion-label>Últimos itens comprados...</ion-label>
                    </ion-item>
                    <ion-list slot="content">
                        <ion-item>
                            <p class="ion-no-margin"><b>15/02/2022 </b>- 30min de Wi-Fi</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>14/02/2022 </b>- Água 295ml</p>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
                <ion-accordion style="border-radius: 0px 0px 10px 10px;">
                    <ion-item slot="header">
                        <ion-label>Outros...</ion-label>
                    </ion-item>
                    <ion-list slot="content">
                        <ion-item>
                            <p class="ion-no-margin"><b>14/02/2022 </b>- Você recebeu a conquista "INICIANTE"!</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>14/02/2022 </b>- Você recebeu a conquista "AJUDANTE"!</p>
                        </ion-item>
                        <ion-item>
                            <p class="ion-no-margin"><b>12/02/2022 </b>- Obrigado por fazer parte do projeto!</p>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
            </ion-accordion-group>
        </ion-row>
    </ion-grid>
</ion-content>