<ion-header>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-menu-button>
            <ion-icon id="icon-options" name="menu"></ion-icon>
          </ion-menu-button>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/sell']">
          <ion-icon name="cash"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/buy']">
          <ion-icon name="cart"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="success">
    <ion-title class="ion-no-margin ion-no-padding ion-margin-start">
      Produtos Disponíveis
      <ion-chip color="warning" style="background-color: #ffffff; float: right;">
        <ion-label class="ion-padding-end" color="warning">{{user?.coin}}</ion-label>
        <ion-img src="assets/icon/coin.png" style="width: 1.5rem"></ion-img>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
  <ion-row *ngFor="let product of products" class="ion-justify-content-center">
    <ion-accordion-group style="width: 100%;">
      <ion-accordion>
        <ion-item slot="header">
          <ion-avatar slot="start">
            <img src="{{product.image}}" />
          </ion-avatar>
          <ion-label>
            <h2>{{product.title}}</h2>
            <p>{{product.description}}</p>
          </ion-label>
          <ion-chip color="warning">
            <ion-label color="warning" class="ion-padding-end">{{product.coin}}</ion-label>
            <ion-img src="assets/icon/coin.png" style="width: 1.5rem"></ion-img>
          </ion-chip>
        </ion-item>
        <ion-list slot="content">
          <ion-item style="text-align: -webkit-center;">
            <ion-label>
              <ion-img src="assets/icon/qrcode.png" style="width: 70%"></ion-img>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-row>
</ion-content>