<ion-header>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-menu-button>
            <ion-icon id="icon-options" name="menu"></ion-icon>
          </ion-menu-button>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/sell']">
          <ion-icon name="cash"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/buy']">
          <ion-icon name="cart"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="success">
    <ion-title>Sobre o Projeto</ion-title>
  </ion-toolbar>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p><b>TEMA: </b>
          A ideia é desenvolver um Aplicativo no qual as pessoas cadastradas possam levar o seu material reciclável em
          um dos pontos de troca para ganhar “coins”, que são moedas dentro do App e trocar essas moedas pelos itens ou
          produtos disponíveis.
        </p>
        <p><b>DELIMITAÇÃO DO TEMA: </b>
          O objetivo principal é o reaproveitamento dos materiais e resíduos produzidos na cidade de Ji-Paraná,
          independente de sua classificação.
        </p>
        <p><b>JUSTIFICATIVA: </b>
          A ideia surgiu em virtude da preservação do meio ambiente ser de total importância para nossa sobrevivência.
          Preservar o meio ambiente é importante não só para os seres humanos, mas para todos os seres vivos. Afinal, é
          nele que estão os recursos naturais necessários para a sua sobrevivência, como água, alimento e
          matérias-primas. Sem esses recursos, todas as formas de vida podem ser extintas.
        </p>
        <p><b>DESENVOLVIDO POR: </b><a href="https://github.com/feliperufini/">Felipe de Oliveira Andrade</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>