<ion-header>
</ion-header>

<ion-content>
    <ion-item lines="full" fill="solid" class="ion-margin-bottom">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"  #email required></ion-input>
    </ion-item>
    <ion-item lines="full" fill="solid" class="ion-margin-bottom">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
        <ion-col >
            <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
        </ion-col>
    </ion-row>
    <div class="ion-text-center">
        <ion-label expand="block" color="warning">OU</ion-label><br>
        <ion-label expand="block" color="warning" [routerLink]="['/password-reset']">Esqueceu a senha?</ion-label>
    </div>
    <ion-row>
        <ion-col>
            <ion-button expand="block" color="secondary" [routerLink]="['/register']">
                Cadastre-se
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>