<ion-header>
</ion-header>
<ion-content>
    <form [formGroup]="credentials" (ngSubmit)="login()">
        <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.erros">E-mail Inválido!</ion-note>
        </ion-item>
        <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.erros">Senha Inválida!
            </ion-note>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!credentials.valid" color="primary">Login</ion-button>
        <ion-label position="floating">Não possui conta?</ion-label>
        <ion-button expand="full" type="button" (click)="register()" color="danger">Cadastrar-se</ion-button>
    </form>
</ion-content>
