<ion-header>
	<ion-toolbar>
		<ion-tabs>
			<ion-tab-bar slot="bottom">
				<ion-tab-button>
					<ion-menu-button>
						<ion-icon id="icon-options" name="menu"></ion-icon>
					</ion-menu-button>
				</ion-tab-button>
				<ion-tab-button [routerLink]="['/home']">
					<ion-icon name="home"></ion-icon>
				</ion-tab-button>
				<ion-tab-button [routerLink]="['/sell']">
					<ion-icon name="cash"></ion-icon>
				</ion-tab-button>
				<ion-tab-button [routerLink]="['/buy']">
					<ion-icon name="cart"></ion-icon>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
	<!-- style="--background: #417723" -->
	<div class="ion-text-end">
		<ion-chip color="warning">
			<ion-label color="warning" style="padding-right: 0.5rem;">{{user?.coin}}</ion-label>
			<ion-img src="assets/icon/coin.png" style="width: 1.7rem"></ion-img>
		</ion-chip>
	</div>
	<ion-slides>
		<ion-slide>
			<div class="slide">
				<img src="assets/icon/plant.png" style="width: 13rem;" />
				<h2>Bem-vindo!</h2>
				<p>Começe a reciclar hoje!</p>
				<p>Acesse nosso menu de dicas, se atente para os pontos de coleta mais próximos a você e troque seu
					material por coins.</p>
			</div>
		</ion-slide>
		<ion-slide>
			<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
			<h2>What is Ionic?</h2>
			<p>
				Ionic Framework is an open source SDK that enables developers to build high quality mobile apps
				with web technologies like HTML, CSS, and JavaScript.
			</p>
		</ion-slide>
		<ion-slide>
			<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
			<h2>What is Appflow?</h2>
			<p>
				Appflow is a powerful set of services and features built on top of Ionic Framework that brings a
				totally new level of app development agility to mobile dev teams.
			</p>
		</ion-slide>
	</ion-slides>
</ion-content>