<ion-header>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button>
                    <ion-menu-button>
                        <ion-icon id="icon-options" name="menu"></ion-icon>
                    </ion-menu-button>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/home']">
                    <ion-icon name="home"></ion-icon>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/sell']">
                    <ion-icon name="cash"></ion-icon>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/buy']">
                    <ion-icon name="cart"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>

<ion-content style="--background: #d6efbc">
    <ion-toolbar color="success">
      <ion-title><ion-icon name="color-wand-outline" class="ion-padding-end" style="font-size: larger;"></ion-icon>Dicas</ion-title>
    </ion-toolbar>
    <!-- <div class="ion-text-end ion-padding-top">
        <ion-chip color="warning" style="background-color: #ffffff;">
            <ion-label class="ion-padding-end" color="warning">999999</ion-label>
            <ion-img src="assets/icon/coin.png" style="width: 1.7rem"></ion-img>
        </ion-chip>
    </div> -->
    <ion-slides>
        <ion-slide>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    <img src="assets/icon/coin.png" style="max-height: 16rem;">
                    <ion-card-title class="mt-1">Dica número 1</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Separe o seu lixo, ajude a natureza!
                </ion-card-content>
                <ion-button class="ion-margin-bottom" [routerLink]="['/tip-detail']" color="secondary">Mais Informações</ion-button>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    <img src="assets/icon/coin.png" style="max-height: 16rem;">
                    <ion-card-title class="mt-1">Dica número 1</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Separe o seu lixo, ajude a natureza! Separe o seu lixo, ajude a natureza! Separe o seu lixo, ajude a natureza!
                    Separe o seu lixo, ajude a natureza! Separe o seu lixo, ajude a natureza! Separe o seu lixo, ajude a natureza!
                </ion-card-content>
                <ion-button class="ion-margin-bottom" [routerLink]="['/tip-detail']" color="secondary">Mais Informações</ion-button>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    <img src="assets/icon/coin.png" style="max-height: 16rem;">
                    <ion-card-title class="mt-1">Dica número 1</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Separe o seu lixo, ajude a natureza!
                </ion-card-content>
                <ion-button class="ion-margin-bottom" [routerLink]="['/tip-detail']" color="secondary">Mais Informações</ion-button>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>